body, html {
	margin: 0;
	padding: 0;
}

 * {
	scrollbar-arrow-color: #ff5722;
	scrollbar-base-color: #606060;
	scrollbar-track-color: #606060;
	scrollbar-face-color: #ff5722;
	scrollbar-highlight-color: #606060;
	scrollbar-3dlight-color: #606060;
	scrollbar-darkshadow-color: #606060;
	scrollbar-shadow-color: #ff5722;
}

*::-webkit-scrollbar {
	width: 17px;
	height: 17px;
}

*::-webkit-scrollbar-button {
	height: 0;
}

*::-webkit-scrollbar-thumb {
	background: #ff5722;
	border: none;
	border-radius: 0;
}

*::-webkit-scrollbar-thumb:hover {
	background: #f4511e;
}

*::-webkit-scrollbar-thumb:active {
	background: #000000;
}

*::-webkit-scrollbar-track {
	background: #606060;
	border: none;
	border-radius: 0;
}

*::-webkit-scrollbar-track:hover {
	background: #606060;
}

*::-webkit-scrollbar-track:active {
	background: #303030;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

.os-morph-anchor {
	background: #00bcd4;
	border: 2px solid #222;
	width: 6px;
	height: 6px;
	position: absolute;
}

.os-morph-delete-anchor {
	background: #F00;
	border: none;
	border-radius: 0;
	width: 20px;
	height: 20px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

.os-editor-slidelist-slide {
	transform-origin: 0 0;
}

.os-editor-slidelist-wrapper {
	position: relative;
	top: 10px;
	left: 45px;
	width: 125px;
	height: 125px;
	margin-top: 10px;
	cursor: pointer;
}

.os-editor-preview-active .os-editor-slidelist-indicator{
	background: #ff5722;
}

.os-editor-slidelist-indicator {
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	display: block;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
}

.os-editor-menu {
	color: #fff;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	height: 50px;
	padding: 10px;
	z-index: 6;
	transition: background 300ms;
}

.os-editor-menu:hover:not(#os-editor-menu-clock) {
	background: rgba(255, 255, 255, 0.3);
}

#os-editor-menubar {
	background: #222;
	display: flex;
	height: 50px;
}

#os-editor-logo {
	background: #ff5722;
	color: #fff;
	font-size: 20px;
	width: 50px;
}

#os-editor-menu-clock {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
}

#os-editor-menu-present {
	background: #f4511e;
	margin-left: auto;
	width: 120px;
}

#os-editor-menu-finish {
	background: #e64a19;
	width: 100px;
}

#os-editor-menu-present:hover, #os-editor-menu-finish:hover {
	background: #ff9800 !important;
}

#os-editor-slidelist {
	position: fixed;
	background: #333;
	width: 200px;
	top: 50px;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

#os-editor-workspace {
	position: fixed;
	top: 50px;
	left: 200px;
	right: 220px;
	bottom: 0;
	background: #444;
	overflow: auto;
}

#os-editor-layout-dialog {
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
	position: fixed;
	top: 100vh;
	left: 0;
	right: 220px;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-duration: 600ms;
	overflow: hidden;
	will-change: top;
	z-index: 4;
}

#os-editor-layout-close {
	top: 1rem;
	right: 1rem;
	position: absolute;
	font-size: 40px;
	color: #808080;
	transition: color 500ms;
}

#os-editor-layout {
	width: 1024px;
	height: 768px;
	background: #333;
	overflow: scroll;
	position: relative;
}

.os-editor-layout-slide {
	/* 친구를 만나느라 #444 */
	color: #444;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 1rem;
	font-weight: 600;
	top: 0;
	left: 0;
}

#os-editor-layout-close:hover {
	color: #ff5722;
}

#os-editor-property-editor {
	background: #333;
	right: 0;
	top: 50px;
	bottom: 0;
	position: fixed;
	padding: 10px;
	width: 220px;
	z-index: 7;
}

#os-editor-property-editor h3 {
	color: #fff;
}

#os-editor-property-editor input {
	color: #fff;
}

#os-editor-property-editor label {
	color: #ff5722;
}

#os-editor-property-editor input[type=number]:focus + label {
	color: #ff5722;
}

#os-editor-property-editor input[type=number]:focus {
	border-bottom: 1px solid #ff5722;
	box-shadow: 0 1px 0 0 #ff5722;
}

.material-tooltip .backdrop {
	background: #000;
}

.dropdown-content.nested.active{
	animation: showOverflow 0s ease-in 225ms forwards;
}

.dropdown-content li>a {
	color: #808080;
}

@keyframes showOverflow {
	to {
		overflow: visible;
	}
}

@keyframes up {
	from {
		top: 100vh;
	}

	to {
		top: 50px;
	}
}

@keyframes down {
	from {
		top: 50px;
	}

	to {
		top: 100vh;
	}
}
